<div class="section-head">

    <div class="header">

        Manage Questions

    </div>

    <div class="buttons">

        <button mat-raised-button
                (click)="settingsUsersDialogService.open()">

            Add User

        </button>

    </div>

</div>

<ngxux-datatable (sort)="onSortChange($event)"
                 [columns]="[{

        name: 'Username'

    }, {

        name: 'Role'

    }, {

        name: 'Last Login'

    }]"></ngxux-datatable>

<ng-template #connectionType let-column="column" let-row="row" let-value="value">

    {{ row.connectionType.name }}

</ng-template>
