.p-10 {
    
    padding: 10px;
    
}

.p-20 {
    
    padding: 20px;
    
}

.psides-20 {
    
    padding: 0 20px 0 20px;
    
}

.mw-250 {
    
    max-width: 250px;
    
}

.mw-300 {
    
    max-width: 300px;
    
}

.rounded {
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
