:host {
    
    .wrapper {
        
        mat-accordion {
            
            background: #c0c0c0;
            
        }
        
        .buttons {
            
            display: flex;
            justify-content: space-between;
            
            margin-top: 20px;
            
        }
        
    }
    
}
